// ----------------------------------------
//                       + base settings +
// ----------------------------------------

*
  box-sizing border-box
  margin 0
  padding 0

html, body
  height 100%

html, input, textarea, select, button
  font-family palatino
  font-size 18px
  font-weight normal
  word-spacing 1px
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased

input, textarea, select, button
  border none

ul, li
  list-style none

