// ----------------------------------------
//                    + custom variables +
// ----------------------------------------

// -- + size + -------------
$std: 6px;

// -- + font + -------------
$palatino: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif;
$gothic: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, sans-serif;


// -- + font colors + -------------
$black: #222222;
$gray-black: #666666;
$gray: #aaaaaa;
$light-gray: #eeeeee;
$gray-white: #f6f6f6;
$super-gray: #fafafa;