// ----------------------------------------
//                          + news index +
// ----------------------------------------

// main

.newsIndex-Heading_H1 {
  border-bottom: 2px solid $gray-white;
  padding: 30px 18px;
  color: $black;
  font-size: 16px;
}
.newsIndex-Article_ListItem {
  border-bottom: 2px solid $gray-white;
  padding: 6px 18px;
}
.newsIndex-Article > a {
  display: flex;
  flex-direction: column;
}
.newsIndex-Article_Heading {
  margin-bottom: 6px;
}
.newsIndex-Article_Date {
  color: $black;
  font-family: $gothic;
  font-size: 10px;
}
.newsIndex-Article_TitleH2 {
  margin: 6px 0 18px;
  color: $black;
  font-size: 20px; 
  letter-spacing: 0.5px;
}
.newsIndex-Article_ThumbImage {
  width: 100%;
}
.newsIndex-Article_LinkArrow {
  padding: 30px 0 24px;
  text-align: center;
}
.newsIndex-Article_LinkArrowIcon {
  transform: rotate(90deg);
  width: 24px;
  height: 24px;
}

// back to top

.newsIndex-BackToTop {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 0 42px;
}
.newsIndex-BackToTop > a {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.newsIndex-BackToTop_Icon {
  width: 30px;
  height: 30px;
}
.newsIndex-BackToTop_Text {
  margin-top: 4px;
  color: $gray-black;
  font-size: 10px;
}