@charset "utf-8";

// ----------------------------------------
//                              + header +
// ----------------------------------------
.c-header {
  @include display(flex);

  height: 98px;
}
.c-header__inner {
  @include display(flex);
  @include flex-direction(row);
}
.c-header__logo-container {
  @include flex(1);
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
}
.c-header__logo-image {
  width: 118px;
}
.c-header__navi-container {
  @include flex(3);
  @include display(flex);
}
.c-header__header-navi {
  @include flex(1);
  @include display(flex);
}
.c-header__header-navi-list {
  @include display(flex);
  @include justify-content(space-around);
  @include align-items(center);

  width: 426px;
  margin: 0 auto;
}
.c-header__header-navi-link {
  color: $font-color__header-navi-text;
  font: $font__kepler;
}
.c-header__util-container {
  @include flex(1);
  @include display(flex);
}
.c-header__util-inner {
  @include flex(1);
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  @include flex-direction(row);
}
.c-header__util-fb-btn {
  @include flex(1);
}
.c-header__util-languages {
  @include flex(1);
}