@charset "utf-8";

// ==========================================================================
// Foundation
// ==========================================================================

@import "foundation/_normalize";
@import "bourbon";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "foundation/_custom-variables";

// ==========================================================================
// Layout
// ==========================================================================

@import "layout/_header";
@import "layout/_main";
@import "layout/_footer";

// ==========================================================================
// Object
// ==========================================================================

// -----------------------------------------------------------------
// Component
// -----------------------------------------------------------------

@import "object/component/_button";
@import "object/component/_header";
@import "object/component/_main";

// -----------------------------------------------------------------
// Project
// -----------------------------------------------------------------

@import "object/project/_header";
// @import "object/project/main/_****";

// -----------------------------------------------------------------
// Utility
// -----------------------------------------------------------------

// @import "object/utility/_****";