// ----------------------------------------
//                              + header +
// ----------------------------------------

// layout
header {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  min-height: 56px;
  padding: 4px 18px 0;
}
.st-Header_Nav {
  order: 1;
}
.st-Header_Logo {
  order: 2;
}
.st-Header_Languages {
  order: 3;
}

// logo

.st-Header_Logo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.st-Header_LogoLink {
  padding: 9px 2px 2px;
}
.st-Header_LogoSVG {
  width: 100px;
}

// nav

.st-Header_Nav {
  display: flex;
  align-items: center;
}
.st-Header_NavMenuIcon {
  position: relative;
  z-index: 11;
  border: none;
  background-color: transparent;
  height: 28px;
  padding: 4px 2px;
}
.st-Header_NavMenuSVG {
  width: 20px;
  height: 16px;
}
.st-Header_NavContaier {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: $gray-white;
  width: 100vw;
  height: 100vh;
}
.st-Header_NavContaier.hidden {
  display: none;
}
.st-Header_NavContaier.fadeIn {
  animation-duration: 0.5s;
  animation-name: fadeIn;
}
.st-Header_NavContaier.fadeOut {
  animation-duration: 0.5s;
  animation-name: fadeOut;
}
@keyframes fadeIn {
  from { opacity: 0; } to { opacity: 1; }
}
@keyframes fadeOut {
  from { opacity: 1; } to { opacity: 0; }
}
.st-Header_NavList {
  position: relative;
  top: -18px;
  margin-bottom: 24px;
}
.st-Header_NavListItem {
  display: flex;
  flex-direction: column;
  padding: 18px 0;
}
.st-Header_NavListItem a {
  color: $black;
  font-size: 30px;
  letter-spacing: 1px;
}
.st-Header_NavMenuCloseButton {
  display: flex;
  align-items: center;
  border: 1px solid $gray-black;
  background-color: transparent;
  padding: 3px 10px;
  font-family: $gothic;
}
.st-Header_NavMenuCloseIcon {
  width: 14px;
  margin-left: 6px;
}

// languages

.st-Header_Languages {
  display: flex;
  align-items: center;
}
.st-Header_LanguageIcon {
  border: none;
  background-color: transparent;
  height: 28px;
  padding: 4px 2px;
}
.st-Header_LanguageIconGlobe {
  color: $black;
  font-size: 24px;
  line-height: 0;
}
.st-Header_LanguagesList-hidden {
  display: none;
}