// ----------------------------------------
//                              + Layout +
// ----------------------------------------

// base

body {
  display: flex;
  flex-direction: column;
  font-family: $palatino;
}
main {
  flex: 1;
  width: 100%;
}

// for JS

.js-Body_AntiScrolling {
  position: fixed;
  width: 100vw;
  height: 100vh;
}