@charset "utf-8";

// ----------------------------------------
//                              + footer +
// ----------------------------------------
.l-footer {
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);

  background-color: #f6f6f6;
  height: 50px;
}
.l-copyrights {
  margin: 0;
  color: #999;
  font-size: 12px;
  text-align: center;
}