// ----------------------------------------
//                      + products index +
// ----------------------------------------

// product list

.productsIndex-Products {
  margin-bottom: 72px;
}
.productsIndex-Heading_H1 {
  padding: 30px 18px;
  color: $black;
  font-size: 16px;
}
.productsIndex-Product_LineNameH2 {
  border-bottom: 6px solid $gray-white;
  padding: 24px 0 18px;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.5px;
}
.productsIndex-Product_LineNameLogo {
  height: 26px;
}
.productsIndex-Product_ListItem {
  border-bottom: 2px solid $gray-white;
  padding: 6px 18px;
}
.productsIndex-Product > a {
  display: flex;
  flex-direction: column;
}
.productsIndex-Product_Heading {
  margin-bottom: 6px;
}
.productsIndex-Product_CategoryName {
  color: $black;
  font-family: $palatino;
  font-size: 12px;
}
.productsIndex-Product_ProductNameH3 {
  margin: 6px 0;
  color: $black;
  font-size: 26px; 
  letter-spacing: 0.5px;
}
.productsIndex-Product_ThumbImage {
  width: 100%;
}
.productsIndex-Product_LinkArrow {
  padding: 6px 0 24px;
  text-align: center;
}
.productsIndex-Product_LinkArrowIcon {
  transform: rotate(90deg);
  width: 24px;
  height: 24px;
}

// catalogue

.productsIndex-Catalogue {
  padding: 24px 18px;
}
.productsIndex-CatalogueContainer {
  background-color: $gray-white;
  padding: 6px;
}
.productsIndex-CatalogueBorder {
  border: 1px solid white;
  padding-bottom: 42px;
  text-align: center;
}
.productsIndex-Catalogue_H4 {
  padding: 48px 0;
  color: $black;
  font-size: 22px;
  text-align: center;
  letter-spacing: 1px;
}
.productsIndex-Catalogue_CoverPhotoContainer {
  margin-bottom: 12px;
  text-align: center;
}
.productsIndex-Catalogue_CoverPhotoImage {
  width: 156px;
}
.productsIndex-Catalogue_OpenLink {
  display: inline-block;
}
.productsIndex-Catalogue_OpenLinkInner {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.productsIndex-Catalogue_OpenLinkArrowIcon {
  transform: rotate(90deg);
  width: 24px;
  height: 24px;
}
.productsIndex-Catalogue_LinkTextWrapper {
  padding-top: 8px;
  color: $gray-black;
  font-size: 12px;
  text-align: center;
}
.productsIndex-Catalogue_LinkTextWrapper > hr {
  border-top: 1px solid $gray-black;
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin: 2px 0 3px;
}

// awards

.productsIndex-Awards {
  margin-top: 60px;
}
.productsIndex-Awards_H2 {
  padding: 42px 0 36px;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0.5px;
}
.productsIndex-Awards_List {
  padding: 0 18px;
}
.productsIndex-Awards_ListItem {
  overflow: hidden;
  padding-bottom: 12px;
}
.productsIndex-Awards_ListItem.open {
  animation-duration: 0.5s;
  animation-name: productsIndex-Awards_ListItem-open;
  animation-timing-function: $ease-out-quint;
  max-height: 100vh;
}
.productsIndex-Awards_ListItem.close {
  animation-duration: 0.5s;
  animation-name: productsIndex-Awards_ListItem-close;
  animation-timing-function: $ease-out-quint;
  max-height: 45px;
}
.productsIndex-Awards_ListItem.hidden {
  max-height: 45px;
}
@keyframes productsIndex-Awards_ListItem-open {
  from { max-height: 45px; } to { max-height: 100vh; }
}
@keyframes productsIndex-Awards_ListItem-close {
  from { max-height: 100vh; } to { max-height: 45px; }
}
.productsIndex-Awards_ProductNames {
  position: relative;
  display: flex;
  border-bottom: 1px solid $gray-black;
  padding: 18px 0;
}
.productsIndex-Awards_ProductNameH4 {
  font-size: 18px;
  letter-spacing: 1px;
}
.productsIndex-Awards_ProductCategoryContainer {
  flex: 1;
  display: flex;
}
.productsIndex-Awards_ProductCategory {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: $gray;
  font-size: 12px;
  letter-spacing: 0.5px;
}
.productsIndex-Awards_PlusIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  text-align: center;
}
.productsIndex-Awards_PlusIcon {
  width: 10px;
}
.productsIndex-Awards_ListItem.show .productsIndex-Awards_PlusIcon {
  transform: rotate(45deg);
}
.productsIndex-Awards_NoticeNLP {
  display: block;
  border: 1px dashed $light-gray;
  margin-top: 6px;
  padding: 4px;
  color: $gray;
  font-size: 9px;
  text-align: center;
}
.productsIndex-Awards_ThumbsContainer {
  text-align: center;
}
.productsIndex-Awards_Thumb {
  width: 240px;
}
.productsIndex-Awards_NoticeNoImage {
  display: block;
  border: 1px dashed $light-gray;
  margin-top: 6px;
  padding: 24px;
  color: $gray;
  font-size: 18px;
  text-align: center;
}
.productsIndex-Awards_SeeThisProductContainer {
  padding: 6px;
  text-align: center;
}
.productsIndex-Awards_SeeThisProduct {
  display: inline-block;
  border: 1px solid $gray;
  padding: 2px 12px 1px;
  color: $gray-black;
  font-size: 10px;
}
.productsIndex-Awards_TimelineContainer {
  margin: 24px 0;
}
.productsIndex-Awards_TimelineListItem {
  min-height: 100px;
  margin-bottom: 48px;
}
.productsIndex-Awards_AwardsYearContainer {
  border-bottom: 1px solid $gray;
  padding-bottom: 2px;
  font-size: 12px;
  letter-spacing: 0.5px;
}
.productsIndex-Awards_AwardsYear {
  color: $gray-black;
}
.productsIndex-Awards_AwardsFor {
  margin-left: 18px;
  color: $gray;
}
.productsIndex-Awards_AwardsListInYear {
  display: flex;
  flex-direction: column;
}
.productsIndex-Awards_AwardsListItemInYear {
  display: flex;
  padding-top: 12px;
}
.productsIndex-Awards_AwardsTitleContainer {
  flex: 1;
}
.productsIndex-Awards_AwardsTitleH3 {
  padding-bottom: 6px;
  color: $gray-black;
  font-size: 16px;
}
.productsIndex-Awards_AwardsAuthorityLink {
  display: flex;
}
.productsIndex-Awards_AwardsAuthorityH5 {
  color: $link-blue;
  font-size: 12px;
}
.productsIndex-Awards_ExternalLinkIcon {
  margin: 2px 0 0 6px;
  color: $gray-black;
  font-size: 11px;
}
.productsIndex-Awards_AwardsTitleLogoContainer {
  display: flex;
  width: 72px;
}
.productsIndex-Awards_AwardsTitleLogoImage {
  width: 72px;
  height: 72px;
}
.productsIndex-Awards_CloseButton {
  position: relative;
  display: block;
  background-color: $gray-white;
  padding: 12px 0;
  color: $gray-black;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
}
.productsIndex-Awards_CloseButtonArrowIcon {
  width: 10px;
  margin-left: 4px;
}
.productsIndex-Awards_ClickArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// back to top

.productsIndex-BackToTop {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 0 42px;
  padding-top: 60px;
}
.productsIndex-BackToTop > a {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.productsIndex-BackToTop_Icon {
  width: 30px;
  height: 30px;
}
.productsIndex-BackToTop_Text {
  margin-top: 4px;
  color: $gray-black;
  font-size: 10px;
}