// ----------------------------------------
//                     + products single +
// ----------------------------------------

// header

.productsSingle-Header {
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid $gray-white;
  padding: 30px 18px 12px;
  color: $black;
  font-size: 16px;
}
.productsSingle-Header_LineName {
  display: inline-block;
  padding-top: 30px;
  text-align: center;
}
.productsSingle-Product_LineNameLogo {
  height: 18px;
}

// product

.productsSingle-Product {
  padding: 18px 18px;
}

// hero

.productsSingle-Product_Hero {
  margin-bottom: 36px;
}
.productsSingle-Product_ProductNameH1 {
  margin-bottom: 36px;
  color: $black;
  font-size: 24px;
  text-align: left;
  letter-spacing: 0.5px;
}
.productsSingle-Product_ProductCategoryName {
  color: $black;
  font-size: 14px;
}
.productsSingle-Product_HeroImage {
  width: 100%;
}

// introduction

.productsSingle-Product_Introduction {
  margin-bottom: 60px;
}
.productsSingle-Product_IntroductionH2 {
  margin-bottom: 18px;
  color: $gray;
  font-size: 17px;
  letter-spacing: 0.8px;
}
.productsSingle-Product_IntroductionPragraph {
  color: $black;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.2px;
}

// specification

.productsSingle-Product_Specification {
  margin-bottom: 60px;
}
.productsSingle-Product_SpecificationH2 {
  margin-bottom: 18px;
  color: $gray;
  font-size: 17px;
  letter-spacing: 0.8px;
}
.productsSingle-Product_GridRow {
  display: flex;
  border-bottom: 1px solid $light-gray;
  padding: 6px 0;
  font-family: $gothic;
  font-size: 13px;
}
.productsSingle-Product_GridColumnLeft {
  width: 35%;
  padding-right: 5%;
}
.productsSingle-Product_GridColumnRight {
  flex: 1;
}

// awards

.productsSingle-Awards {
  margin-top: 60px;
}
.productsSingle-Awards_H2 {
  margin-bottom: 18px;
  color: $gray;
  font-size: 17px;
  letter-spacing: 0.8px;
}
.productsSingle-Awards_ListItem {
  padding-bottom: 12px;
}
.productsSingle-Awards_TimelineContainer {
  margin: 24px 0;
}
.productsSingle-Awards_TimelineListItem {
  min-height: 100px;
  margin-bottom: 6px;
}
.productsSingle-Awards_AwardsYearContainer {
  border-bottom: 1px solid $gray;
  padding-bottom: 2px;
  font-size: 12px;
  letter-spacing: 0.5px;
}
.productsSingle-Awards_AwardsYear {
  color: $gray-black;
}
.productsSingle-Awards_AwardsFor {
  margin-left: 18px;
  color: $gray;
}
.productsSingle-Awards_AwardsListInYear {
  display: flex;
  flex-direction: column;
}
.productsSingle-Awards_AwardsListItemInYear {
  display: flex;
  padding-top: 12px;
}
.productsSingle-Awards_AwardsTitleContainer {
  flex: 1;
}
.productsSingle-Awards_AwardsTitleH3 {
  padding-bottom: 6px;
  color: $gray-black;
  font-size: 16px;
}
.productsSingle-Awards_AwardsAuthorityLink {
  display: flex;
}
.productsSingle-Awards_AwardsAuthorityH4 {
  color: $link-blue;
  font-size: 12px;
}
.productsSingle-Awards_ExternalLinkIcon {
  margin: 2px 0 0 6px;
  color: $gray-black;
  font-size: 11px;
}
.productsSingle-Awards_AwardsTitleLogoContainer {
  display: flex;
  width: 72px;
}
.productsSingle-Awards_AwardsTitleLogoImage {
  width: 72px;
  height: 72px;
}

// sub navigation

.productsSingle-SubNav {
  border-top: 2px solid $gray-white;
  margin: 30px 0 42px;
  padding-top: 12px;
}
.productsSingle-SubNav_List {
  display: flex;
}
.productsSingle-SubNav_ListItem {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.productsSingle-SubNav_BackToNewsList {
  display: inline-block;
  border-bottom: 1px solid $gray;
  padding: 6px 3px 0 0;
  color: $gray-black;
  font-size: 12px;
  letter-spacing: 0.5px;
}
.productsSingle-SubNav_BackToNewsList_LinkArrowIcon {
  transform: rotate(-90deg);
  width: 11px;
  height: 7px;
  margin-right: 1px;
}
.productsSingle-SubNav_BackToTop {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productsSingle-BackToTop_Icon {
  width: 30px;
  height: 30px;
}
.productsSingle-BackToTop_Text {
  margin-top: 4px;
  color: $gray-black;
  font-size: 10px;
}
